{{! Landing Page of Web App }}
<div class="jumbotron">
  <h1 class="display-4">Node &amp; Express Starter</h1>
  <p class="lead">Setup basic node and express app within seconds.</p>
  <hr class="my-2" />
  <p>This is a boilerplate for your next express application. It uses MongoDB
    for Database and Express-handlebars as the template engine.</p>
  <p class="lead">
    <a
      class="btn btn-primary btn-lg"
      href="https://github.com/shashutech/node-express-starter"
      role="button"
    >Learn more</a>
  </p>
</div>